<div class="container bg-dark text-light rounded">

    <div class="d-flex justify-content-around p-3">
        <div class="d-flex flex-column  text-center ">
            <h1 class="m-3 ">Jeremias Tomas Gonzalez Storm</h1>
            <div class="d-flex flex-column p-3">
                <p class="mt-2">
                    Soy estudiante Universitario en Desarrollo de Aplicaciones
                    Informaticas de la UNICEN.
                </p>
                <p class="mt-2">Soy una persona proactiva, con un gran sentido de la responsabilidad,
                    con vocación de trabajo en equipo y
                    capaz de generar valor agregado (SINERGIA).
                </p>

                <p class="mt-2">Mi objetivo es adquirir experiencia laboral y consolidarme en un equipo de trabajo donde
                    pueda
                    desarrollarme
                    y crecer profesionalmente.
                </p>

                <p>
                    Link a mi portflofio
                    <a class="text-info" target="_blank" href="https://jerestorm.github.io/PORTFOLIO/">Aqui
                    </a>
                </p>
            </div>

        </div>
        <img class="rounded" width="300px"
            src="https://jerestorm.github.io/PORTFOLIO/imagenes/IMG-20200914-WA0210%20(1).jpg" alt="">
    </div>



</div>