<h2 class="m-0">Lista de Tabacos</h2>

<div class="container mt-5 d-flex justify-content-center flex-wrap gap-3">
    <div class="card text-center w-30" *ngFor="let tabaco of tabacos" [ngClass]="{clearence: tabaco.clearence}">
        <div class="card-body">
            <h1 class="card-title">{{tabaco.name}}</h1>
            <h3 class="card-text">{{tabaco.type}}</h3>
            <img src="{{tabaco.image}}" width="250" alt="hola hello">
            <p class="card-text">{{tabaco.price | currency}}</p>
        </div>
        <div class="card-body">
            <!-- ELIJO SI MOSTRAR CARTEL SIN STOCK O EL STOCK -->
            <div *ngIf="tabaco.stock==0; then content else other_content">
                <!-- Aqui se renderizara los ng-template -->
            </div>
            <ng-template #content>
                <p class="card-text">
                    <span class="badge text-bg-danger"> No Disp </span>
                </p>
            </ng-template>
            <ng-template #other_content>
                <p class="card-text">
                    {{tabaco.stock}}
                </p>
            </ng-template>

            <div *ngIf="tabaco.stock">
                <app-input-integer [quantity]="tabaco.quantity" [max]="tabaco.stock"></app-input-integer>
                Cantidad{{tabaco.quantity}}
            </div>

            <div class="form-group">
                <button class="btn btn-primary">AGREGAR AL CARRITO</button>
            </div>
        </div>

    </div>
</div>