<h2>Lista de Tabacos</h2>

<table class="table mt-5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tabaco of tabacos" [ngClass]="{clearence: tabaco.clearence}">
            <td>{{tabaco.name}}</td>
            <td>{{tabaco.type}}</td>
            <td>{{tabaco.price | currency}}</td>

            <td>
                <div *ngIf="tabaco.stock==0; then content else other_content">
                    <!-- Aqui se renderizara los ng-template -->
                </div>
            </td>
            <ng-template #content>
                <p class="badge text-bg-danger">
                    No Disp
                </p>
            </ng-template>
            <ng-template #other_content>{{tabaco.stock}}</ng-template>

        </tr>

    </tbody>


</table>