<h2>Lista de Tabacos</h2>

<table class="table mt-5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{tabaco.name}}</td>
            <td>{{tabaco.type}}</td>
            <td>{{tabaco.price}}</td>
            <td>{{tabaco.stock}}</td>
        </tr>
        <tr>
            <td>Las Hojas</td>
            <td>Comun</td>
            <td>600</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Savage</td>
            <td>Natural</td>
            <td>500</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Flandria</td>
            <td>Vainilla</td>
            <td>650</td>
            <td>30</td>
        </tr>
    </tbody>


</table>