.cart-container{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    overflow-y: scroll;
}

.scroll-list{
  position: sticky;
}
.cart-container::-webkit-scrollbar {
    width: 6px
  }
.cart-container::-webkit-scrollbar-thumb {
    background-color: #464646;
    border: 7px none #ffffff;
    border-radius: 10px;
  }
.not-product{
    font-size: 1.5rem;
}

@media only screen and (min-width: 500px) {
    .cart-container{
       display:flex;
       width: 100%;
       
    } 
   }