.cart-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    max-height: 100vh;
    background-color: antiquewhite;
    border-radius: 8px;
}
.not-product{
    font-size: 1.5rem;
}