<div class="input-group input-group-sm mb-3 card-end d-flex align-items-center justify-content-center">
    <div class="input-group-prepend">
        <button (click)="downQuantity()" class="btn btn-outline-dark btn-sm">-</button>
    </div>
    <!-- EXAMPLE TWO WAY DATA BINDING -->
    <input (keyup)="changeQuantity($event)" [(ngModel)]="quantity" class="form-control text-center "
        aria-label="Amount (to the nearest dollar)" type="text" />
    <div class="input-group-append">
        <button (click)="upQuantity()" class=" btn btn-outline-dark btn-sm">+</button>
    </div>
</div>